@use '../abstracts/breakpoints';

// main Container
.container-main {
  background-color: var(--clr-neutral-100);
  overflow: hidden;
}

//children of App
.app {
  background-color: var(--clr-neutral-100);

  &__pageDashboard {
    background-color: var(--clr-neutral-100);
  }

  &__pageRecipe {
    background-color: var(--clr-neutral-100);
  }
}
