.logo {
  font-weight: 800;

  &__heading {
    display: inline-block;
    font-size: var(--fs-subheading);
  }

  &__span {
    color: var(--clr-accent-300);
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    position: relative;
    top: 0.5rem;
    left: -0.5rem;
  }
}
