/*
$color-primary: #D8E2A5
$color-accent : #66903E
*/

$colors: (
  'primary': (
    100: hsl(69.8, 51.3%, 86.7%),
    200: hsl(69.8, 51.3%, 81.7%),
    300: hsl(69.8, 51.3%, 76.7%),
    400: hsl(69.8, 51.3%, 71.7%),
    500: hsl(69.8, 51.3%, 66.7%),
  ),
  'accent': (
    100: hsl(90.7, 39.8%, 50.4%),
    200: hsl(90.7, 39.8%, 45.4%),
    300: hsl(90.7, 39.8%, 40.4%),
    400: hsl(90.7, 39.8%, 35.4%),
    500: hsl(90.7, 39.8%, 30.4%),
  ),
  'neutral': (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 15%),
    900: hsl(0, 0%, 0%),
  ),
  'primary-opacity': (
    100: hsl(69.8, 51.3%, 76.7%, 0.1),
    200: hsl(69.8, 51.3%, 76.7%, 0.2),
    300: hsl(69.8, 51.3%, 76.7%, 0.4),
    400: hsl(69.8, 51.3%, 76.7%, 0.6),
    500: hsl(69.8, 51.3%, 76.7%, 0.8),
  ),
  'accent-opacity': (
    100: hsl(90.7, 39.8%, 40.4%, 0.1),
    200: hsl(90.7, 39.8%, 40.4%, 0.2),
    300: hsl(90.7, 39.8%, 40.4%, 0.4),
    400: hsl(90.7, 39.8%, 40.4%, 0.6),
    500: hsl(90.7, 39.8%, 40.4%, 0.8),
  ),
  'white-opacity': (
    100: hsl(0, 0%, 100%, 0.2),
    200: hsl(0, 0%, 100%, 0.4),
    300: hsl(0, 0%, 100%, 0.6),
    400: hsl(0, 0%, 100%, 0.8),
    500: hsl(0, 0%, 100%),
  ),
  'black-opacity': (
    100: hsl(0, 0%, 0%, 0.2),
    200: hsl(0, 0%, 0%, 0.4),
    300: hsl(0, 0%, 0%, 0.6),
    400: hsl(0, 0%, 0%, 0.8),
    500: hsl(0, 0%, 0%),
  ),
  'grey-opacity': (
    100: hsl(0, 0%, 30%, 0.2),
    200: hsl(0, 0%, 30%, 0.4),
    300: hsl(0, 0%, 30%, 0.6),
    400: hsl(0, 0%, 30%, 0.8),
    500: hsl(0, 0%, 30%),
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}
