@mixin bg-circle($position: top, $value: -30rem, $zIndex: -2) {
  &::after {
    //position
    content: '';
    position: absolute;
    #{$position}: $value;
    left: -15rem;
    z-index: $zIndex;

    //sizing
    width: 50rem;
    height: 50rem;

    //styling
    background-color: var(--clr-primary-300);
    border-radius: 50%;

    @content;
  }
}
