@use 'breakpoints';

@mixin vignette($key: top) {
  &::after {
    content: '';
    inset: 0;
    position: absolute;
    height: 100%;
    background-image: linear-gradient(
      to $key,
      var(--clr-black-opacity-500),
      var(--clr-black-opacity-400),
      var(--clr-black-opacity-300),
      transparent,
      transparent
    );
    @content;
  }
}

@mixin glass-gradient(
  $background:
    linear-gradient(
      to right bottom,
      var(--clr-white-opacity-100),
      var(--clr-white-opacity-100),
      transparent
    ),
  $border: 1px,
  $blur: 5px
) {
  background-image: $background;
  -webkit-backdrop-filter: blur($blur);
  backdrop-filter: blur($blur);
  border-right: $border solid var(--clr-white-opacity-100);
  border-bottom: $border solid var(--clr-white-opacity-100);
  @content;
}

@mixin word-shade($background-color: var(--clr-black-opacity-200)) {
  position: relative;

  &::after {
    content: '';
    inset: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $background-color;
    z-index: -1;
    @content;
  }
}

@mixin bg-circle($position: top, $value: -30rem, $zIndex: -2) {
  &::after {
    //position
    content: '';
    position: absolute;
    #{$position}: $value;
    left: -15rem;
    z-index: $zIndex;

    //sizing
    width: 50rem;
    height: 50rem;

    //styling
    background-color: var(--clr-primary-300);
    border-radius: 50%;

    @content;
  }
}
