@use '../../utilities/flow';
@use '../../abstracts/breakpoints';

.search-results {
  margin-top: flow.$margin-lg;
  padding-bottom: flow.$margin-sm;
  display: flex;
  flex-direction: column;

  &__results {
    list-style: none;
    margin-bottom: flow.$margin-mn;
    padding-inline: 5rem;
  }
}

.pagination {
  margin-top: auto;
  padding-inline: flow.$padding-mn;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__text {
    position: relative;
    bottom: 0.5rem;
  }

  &__btn {
    &--prev {
      float: left;
      position: relative;
      left: 3rem;

      @include breakpoints.respond(phone-mini) {
        left: 4rem;
      }
    }
    &--next {
      float: right;
      position: relative;
      right: 3rem;

      @include breakpoints.respond(phone-mini) {
        right: 4rem;
      }
    }
  }
}
