@use '../abstracts/breakpoints';
@use '../utilities/flow';

.preview {
  margin-bottom: flow.$margin-sm;

  &__link {
    &:link,
    &:visited {
      //alignment
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;

      //styling
      border: 1px solid var(--clr-primary-400);
      text-decoration: none;
      background-color: transparent;
      transition: all 0.3s;

      //sizing
      height: 30rem;
      width: 37rem;
      padding: 1.5rem 3.25rem;

      @include breakpoints.respond(tab-port) {
        width: 100%;
      }

      @include breakpoints.respond(phone-mini) {
        width: 30rem;
        padding: 1rem 2rem;
      }
    }

    &:hover {
      background-color: var(--clr-primary-opacity-300);
      transform: translateY(-3px);
    }

    &--active {
      background-color: var(--clr-primary-opacity-300);
    }
  }

  &__fig {
    //alignment
    position: relative;

    //styling
    border-radius: 15px;
    backface-visibility: hidden;

    //sizing
    overflow: hidden;
    height: 30rem;
    width: 100%;
    max-width: 60rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 1.6rem; //1.45rem
    color: var(--clr-accent-400);
    text-transform: uppercase;
    font-weight: 600;

    // How text is truncated
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    //must coordinate with the Width of Link
    max-width: 30rem;

    @include breakpoints.respond(tab-port) {
      max-width: 42rem;
    }

    @include breakpoints.respond(phone-reg) {
      max-width: 30rem;
    }

    @include breakpoints.respond(phone-mini) {
      max-width: 25rem;
    }
  }

  &__publisher {
    color: var(--clr-neutral-800);
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__user-generated {
    //alignment
    display: flex;
    align-items: center;
    justify-content: center;

    //sizing
    height: 2rem;
    width: 2rem;

    //styling
    background-color: var(--clr-accent-100);
    border-radius: 10rem;
    margin-top: flow.$margin-mn;

    //position
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &__svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--clr-neutral-100);
  }
}
